// Define theme specific colors here.
$color__white: #fff;
$color__not-white: #f1f1f1;
$color__black: #333;
$color__gray-lt: #ebebeb;
$color__gray-md: #666;
$color__gray-dk: #333;
$color__blue-dk: #0f2044;
$color__blue-md: #00399b;
$color__blue-lt: #e5ebf5;
$color__yellow: #ffb71b;
