@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&family=Oxygen:wght@700&display=swap");
$font__main: "Open Sans", sans-serif;
$font__secondary: "Oxygen", sans-serif;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$color__text-main: $color__gray-dk;
