@import "parts/mixins/index";
@import "parts/variables/index";
$color__border: $color__blue-md;
$color__text-page-menu: $color__black;
$color__page-menu-arrow: $color__black;

.page-navigation {
	position: relative;
	top: -94px;
	max-width: 340px;
	margin: 0 auto -42px auto;

	.parent-title {
		display: none;
	}

	a {
		display: block;
		padding: 16px;
		color: $color__text-page-menu;
		font-size: 17px;
		text-decoration: none;

		&:active,
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

	@media screen and (min-width: $breakpoint__sm) {
		top: -72px;
	}

	@media screen and (min-width: $breakpoint__lg) {
		top: 0;
		margin: 25px 0 0;
		.parent-title {
			display: block;
			margin: 10px 25px;
			padding: 0;
			font:  {
				size: 17px;
				weight: 800;
			}
			text-transform: uppercase;
		}
	}
}

.home .page-navigation {
	display: none;
}

.page-navigation-mobile {
	.dropdown-toggle {
		width: 100%;
		padding: 12px 20px;
		border-radius: 21px;
		background-color: $color__white;
		span {
			display: block;
			overflow: hidden;
			margin-right: 20px;
			color: $color__text-page-menu;
			font:  {
				size: 17px;
				style: italic;
				weight: normal;
			}
			text-align: left;
			white-space: nowrap;
			text-transform: none;
			text-overflow: ellipsis;
		}

		&:after {
			display: block;
			position: absolute;
			top: 20px;
			right: 20px;
			width: 0;
			height: 0;
			margin: 0;
			border-top: 5px solid $color__page-menu-arrow;
			border-right: 4px solid transparent;
			border-bottom: 0;
			border-left: 4px solid transparent;
			content: "";
		}

		&.toggled {
			border-radius: 21px 21px 0 0;

			&:after {
				top: 18px;
				transform: rotate(-180deg);
			}
		}
	}

	.dropdown-menu {
		top: calc(100% - 1px);
		width: 100%;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0 0 21px 21px;
		box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);

		&.toggled {
			display: block;
		}

		& > li {
			a {
				font-style: italic;
			}

			&.current_page_item > a {
				font-weight: 700;
				font-style: normal;
			}

			a:hover,
			a:active,
			a:focus {
				text-decoration: underline;
			}

			ul {
				margin-left: 0;
				padding-left: 0;
				list-style-type: none;

				a {
					padding-left: 40px;
					color: $color__black;
				}
			}

			&:last-child {
				border-radius: 0 0 21px 21px;
			}
		}
	}

	@media screen and (min-width: $breakpoint__lg) {
		display: none;
	}
}

.page-navigation-web {
	display: none;

	@media screen and (min-width: $breakpoint__lg) {
		display: flex;
		width: 275px;
		//margin-top: 40px;
		padding: 0;
		background-color: $color__white;
		//background-color: transparent;
	}
}

.page-navigation-web-list {
	display: flex;
	flex-direction: column;
	width: 275px;
	margin: 0;
	padding: 0;
	background-color: $color__white;
	list-style: none;

	justify-content: center;

	a {
		display: block;
		padding: 10px 25px;
		color: $color__black;
		font:  {
			family: $font__main;
			size: 17px;
		}

		&:active,
		&:focus,
		&:hover {
			text-decoration: none;
		}
	}

	li {
		overflow: hidden;
		position: relative;

		&.current_page_item,
		&:active,
		&:focus,
		&:hover {
			position: relative;
			background-color: $color__blue-lt;

			a {
				color: $color__blue-md;
			}
		}

		&.current_page_item:after {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 5px;
			height: 100%;
			margin: 0;
			background-color: $color__blue-md;
			content: "";
		}
	}

	ul.children {
		display: none;
	}
}
