@import "../../mixins/index";
@import "../../variables/index";
.entry-header {
	display: block;
	margin-top: 20px;

	.entry-title {
		clear: none;
		font:  {
			size: 40px;
		}
	}
}

//.home .entry-header {
//	display: none;
//}
