@import "../../../mixins/index";
@import "../../../variables/index";

.menu-toggle {
	margin-right: 10px;
	padding: 0 10px;
	background-color: transparent;

	&:active,
	&:focus,
	&:hover {
		background-color: transparent;
		box-shadow: none;
	}

	&:focus {
		outline: 1px dotted #000;
	}

	svg {
		width: 22px;
		height: 22px;
		cursor: pointer;

		.st0,
		.st1,
		.st2 {
			fill: $color__white;
		}

		.st0 {
			width: 23px;
			height: 3px;
			transition: all 0.3s ease-out;
		}

		.st1 {
			width: 23px;
			height: 3px;
			transition: all 0.3s ease-out;

			y: 7px;
		}

		.st2 {
			width: 23px;
			height: 3px;
			transition: all 0.3s ease-out;

			y: 14px;
		}
	}

	&[aria-expanded="true"] {
		svg {
			.st0 {
				transform: rotate(45deg);

				fill: $color__yellow;
				x: 3;
				y: -3;
			}

			.st1 {
				opacity: 0;
			}

			.st2 {
				transform: rotate(-45deg);

				fill: $color__yellow;
				x: -10;
				y: 13;
			}
		}
	}

	@media screen and (min-width: $breakpoint__sm) {
		display: none;
	}
}
