@import "../mixins/index";

.wp-block-image {
	max-width: 100%;
	margin-bottom: 1.5em;

	img[class*="wp-image-"] {
		@include center-block;
	}

	figcaption {
		margin: 0.8075em 0;
		font-size: 15px;
		font-style: italic;
	}
}
