@import "../../../mixins/index";
@import "../../../variables/index";

.wp-block-uncgonline-block-btlo {
	@include universal-bottom-margin;

	margin-right: -($padding__mobile);
	margin-left: -($padding__mobile);
	border: none;
	border-top-width: 2px;
	border-top-style: solid;
	//.btlo-description {
	//	position: relative;
	//	margin-bottom: 20px;
	//}

	.wp-block-uncgonline-block-btlo-node {
		//overflow: hidden;
		//position: relative;

		.btlo-nav-button {
			margin:  {
				top: 10px;
				right: 10px;
				bottom: 10px;
				left: 0;
			};
			padding: 12px 16px;
			border: none;
			border-radius: 0;
			color: $color__white;
			background-color: $color__blue-dk;
			font-size: 15px;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
		}
	}

	button {
		margin: 10px 0;
	}

	.debug-buttons {
		margin: 0 40px 0 120px;
		text-align: center;

		button {
			padding: 10px 20px;
		}
	}
}
