@import "../../../mixins/index";
@import "../../../variables/index";

.wp-block-uncgonline-block-btlo {
	@include universal-bottom-margin;
	@include universal-padding;

	margin-right: -($padding__mobile);
	margin-left: -($padding__mobile);
	border: none;
	border-top-width: 2px;
	border-top-style: solid;

	button {
		margin: 10px 0;
	}

	.debug-buttons {
		margin: 0 40px 0 120px;
		text-align: center;

		button {
			padding: 10px 20px;
		}
	}
}

@include bp($breakpoint__md) {
	.wp-block-uncgonline-block-btlo {
		margin-right: -($padding__tablet);
		margin-left: -($padding__tablet);
	}
}

@include bp($breakpoint__lg) {
	.content-area .wp-block-uncgonline-block-btlo .wp-block-uncgonline-block-btlo-node {
		padding: 20px 0;
	}
}
