@import "../mixins/index";
@import "../variables/index";
@import "acccessibility/link-new-window/index";

.site {
	background-color: $color__gray_lt;
}

.content-area {
	background-color: $color__white;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	@include universal-padding;
	//@include universal-max-width;
}

.entry-content {
	padding-top: 20px;

	flex-grow: 1;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

@include bp($breakpoint__sm) {
	.site-content {
		@include universal-padding;
		@include universal-max-width;

		margin-top: -50px;
	}
}

@include bp($breakpoint__lg) {
	.entry-content {
		padding-right: 0;
		padding-left: 0;
	}

	article {
		display: flex;
		flex-direction: row-reverse;
	}

	.home .entry-content {
		@include universal-padding;
	}
}
