@import "../../../mixins/index";
@import "../../../variables/index";

.wp-block-uncgonline-block-tabs {
	@include universal-bottom-margin;

	overflow: hidden;
	margin-right: -($padding__mobile);
	margin-left: -($padding__mobile);

	.nav-tabs {
		overflow: scroll;
		margin-left: 15px;
		border: none;

		flex-wrap: nowrap;

		.nav-item {
			margin: 0 5px;

			.nav-link {
				padding: 10px 16px;
				border: none;
				border-top: 4px solid $color__white;
				border-radius: 0;
				color: $color__black;
				background-color: $color__gray-md;
				box-shadow: inset 0 -10px 6px -6px rgba(0, 0, 0, 0.2);
				font-weight: 700;
				white-space: nowrap;

				&.active {
					background-color: $color__gray-lt;
					// border-top-color set in customizer.php
					box-shadow: none;
				}
			}
		}
	}

	.tab-content {
		border: none;
		background-color: $color__gray-lt;
		box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);

		.tab-pane {
			@include universal-padding;
		}
	}
}

@include bp($breakpoint__md) {
	.wp-block-uncgonline-block-tabs {
		overflow: visible;
		margin-right: -($padding__tablet);
		margin-left: -($padding__tablet);

		.nav-tabs {
			margin-left: $padding__tablet;

			.nav-item .nav-link {
				padding: 14px 30px;
			}
		}
	}
}

@include bp($breakpoint__lg) {
	.wp-block-uncgonline-block-tabs {
		@include universal-padding;

		.nav-tabs {
			margin-left: 0;

			.nav-item:first-child {
				margin-left: 0;
			}
		}
	}
}
